<section>
    <h2>create new post</h2>
    
    <form class="new-post-form">
        <div>
            <label for="post-title">title</label>
            <input type="text" id="post-title" name="post-title"/>
        </div>
        <div>
            <label for="post-text">text</label>
            <textarea id="post-text" name="post-text"></textarea>
        </div>
        <button type="submit" class="btn">create</button>
    </form>
</section>
{{#if posts.length}}
<section>
    <h2>your posts</h2>
    <ol>
        {{#each posts as |post|}}
        <li>
            {{> post-info post}}
            <a href="/dashboard/edit/{{post.id}}" class="edit-link">edit post</a>
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>